body
{
  color: white;
  background: linear-gradient(#ffd500 8.333333333333333%, #ff6f00 16.66666666666667%, #ff4800 25%, #ff0000 33.33333333333333%, #ff0062 41.66666666666667%, #dd00ff 50%, #6f00ff 58.33333333333333%, #0026ff 66.66666666666667%, #00fbff 75%, #00ff33 83.33333333333333%, #b3ff00 91.66666666666666%, #d0ff00 100%);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
font-size: 18px;
border-radius: 10px;
letter-spacing: 10px;
}
label
{
  font-size: 14px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  background-color:firebrick;
}